:root {
  --color-dark: #303841;
  --color-grey: #3A4750;
  --color-red: #D72323;
  --color-bright: #EEEEEE;
}

body {
  margin: 0;
  font-family: 'Assistant', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin-top: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}