.form-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  font-size: 20px;
}

input {
  font-size: 20px;
  padding: 5px;
  font-family: "Assistant", sans-serif;
  background-color: transparent;
  color: var(--color-bright);
  border: 2px solid var(--color-bright);
  width: 350px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}

button {
  font-family: "Assistant", sans-serif;
  font-size: 20px;
  padding: 5px;
  color: var(--color-dark);
  background-color: var(--color-bright);
  border: 2px solid var(--color-bright);
  text-transform: uppercase;
}
